services:
  mongo-1:
    image: mongo:8.0
    container_name: mongo-1
    restart: unless-stopped
    ports:
      - 27017:27017
    command: ["--replSet", "rs0", "--keyFile", "/data/keyfile", "--bind_ip_all"]
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./mongo/node1/data:/data/db
      - ./mongo/node1/configdb:/data/configdb
      - ./mongo/keyfile:/data/keyfile:ro

  mongo-2:
    image: mongo:8.0
    container_name: mongo-2
    restart: unless-stopped
    ports:
      - 27018:27017
    command: ["--replSet", "rs0", "--keyFile", "/data/keyfile", "--bind_ip_all"]
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./mongo/node2/data:/data/db
      - ./mongo/node2/configdb:/data/configdb
      - ./mongo/keyfile:/data/keyfile:ro

  mongo-3:
    image: mongo:8.0
    container_name: mongo-3
    restart: unless-stopped
    ports:
      - 27019:27017
    command: ["--replSet", "rs0", "--keyFile", "/data/keyfile", "--bind_ip_all"]
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./mongo/node3/data:/data/db
      - ./mongo/node3/configdb:/data/configdb
      - ./mongo/keyfile:/data/keyfile:ro
